        <!-- cijena sobe no noci i provjera je li slobondno u js i da zakljuca opciju
            ako je zauzeta, skontat da li
        moze da se kopira dio koda na klik butona ako ima vise gostiju
    problem vise gostiju 
            ako je inactive gost ne moze pristupiti sa sifrom, u js napraviti
            napraiti da ispise sve sobe i ko je u njima u novoj stranici

            racun ici na ispis samo kao i ispis checkout..
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Adis Aljic">
    <title>Imaginery hotel</title>
    <script src="../js/user_pass.js" defer></script>

    <link rel="stylesheet" href="../css/findbooked.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../css/admin_guest.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <!-- <%- include ("./partials/nav2.ejs") %> -->


    <!-- <div class="findb"> -->
      <!-- <h1>Find booking</h1> -->
      

 <!--  napraviti funkciju koja u bazi updatuje da je gost checkoutovan -->
 <!-- when clicked on booking, automaticly change date to checkout date and status room to avaiable -->
 <!-- on submit send req to databse to change data for booking, room etc-->
<div class="container">

  <div class="container1">
    <h1>Information about booking</h1>
    <br>
    <p>  username  : <%= username %></p>
    <p>  room number  : <%= room_number %></p>
    <p>  first name  : <%= first_name %></p>
  <p>  last name  : <%= last_name %></p>
  <br>
  <p>   check in date  : <%= check_in_date %></p>
  <p>   check out date  : <%= check_out_date %></p>
  <p>   booking id  : <%= booking_id %></p>
  <br>
   <span><hr></span>
   <h3>Reciept</h3>
  <p>   sauna price  : <%= total_price_sauna %></p>
  <p>   restaurant price  : <%= total_price_restaurant %></p>
 <p>    cinema price  : <%= total_price_cinema %></p>
 <p>    pool price  : <%= total_price_pool %></p>
 <p>    gym  : <%= total_price_gym %></p>
  <span style="width: 50%;"><hr></span>
 <p>  total price  : <%= totalprice %></p>
 
</div>  
<div>
  
  <form  action="./findbooked" method="post">
    <h1>Check out guest</h1>
    <label for="check_out_date">Confirm check out date</label>
    <input type="date" name="check_out_date" id="check_out_date">
    <br>
    <label for="check_out_date_sauna">Change check out date for Sauna</label>
    <input type="date" name="check_out_date_sauna" id="check_out_date_sauna">
    <br>
    
    <label for="check_out_date_cinema">Change check out date for cinema</label>
    <input type="date" name="check_out_date_cinema" id="check_out_date_cinema">
    <br>

    <label for="check_out_date_pool">Change check out date for pool</label>
    <input type="date" name="check_out_date_pool" id="check_out_date_pool">
    <br>
    
  <label for="check_out_date_gym">Change check out date for gym</label>
  <input type="date" name="check_out_date_gym" id="check_out_date_gym">
  <br>

  <label for="check_out_date_restaurant">Change check out date for restaurant</label>
  <input type="date" name="check_out_date_restaurant" id="check_out_date_restaurant">
  <br>
  
  <label for="checkout">Enter username</label>
  <input type="text" placeholder="insert username" id="checkout" name="checkout"></input>
  <br>
  <button type="submit">Submit</button>
  
</form> 
</div>
</div>

     <%- include ("./partials/nav1.ejs") %>


</body>
</html>