        <!-- cijena sobe no noci i provjera je li slobondno u js i da zakljuca opciju
            ako je zauzeta, skontat da li
        moze da se kopira dio koda na klik butona ako ima vise gostiju
    problem vise gostiju 
            ako je inactive gost ne moze pristupiti sa sifrom, u js napraviti
            napraiti da ispise sve sobe i ko je u njima u novoj stranici

            racun ici na ispis samo kao i ispis checkout..
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Adis Aljic">
    <title>Imaginery hotel</title>

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/guest.css">
    <link rel="stylesheet" href="../css/admin_guest.css">
    <script src="../models/user_passModel.js"></script>
    </script>
</head>

<body onload="url()">
<div class="wholepage">
 
    <div class="guest_page">
        
        <div class="room_info"  id="infoguest">
                <h1>Informatio about guest</h1>
                <ul>
                    <li>
                 Name <%= first_name %> <%= last_name %>
                    </li>
                    <li>
                 username <%= username %>
                    </li>
                    <li>
                 password <%= password %>
                    </li>
                </ul>
            </div>
                <br>
                <br>
        <div class="room_info" id="inforoom">
                <h1>Room information</h1>
                <ul>
                    <li>
                     Room number   <%= room_number %>
                    </li>
                    <li>
                    Check in date    <%= check_in_date %>
                    </li>
                    <li>
                     Check out date   <%= check_out_date %>
                    </li>
                </ul>
            </div>
    </div>
                <br>
                <br>
            <div class="room_info" id="inforeciept">
<h1>Reciept</h1>
            <ul>
                <li>
               Room <%= total_price_for_room %> 
                </li>
                <li>
               Sauna <%= total_price_sauna %> 
                </li>
                <li>
               Restaurant <%= total_price_restaurant %> 
                </li>
                <li>
               Cinema  <%= total_price_cinema %> 
                </li>
                <li>
                Pool <%= total_price_pool %> 
                </li>
                <li>
                Gym <%= total_price_gym %> 
                </li>
                <hr>
                <li>

                Ukupna cijena <%= total_price_for_booking %> 
                </li>
                <li>
                    <hr>
                Reciept status <%= reciept_status %> 
                </li>

                </ul>

            </div>
            </div>
            <div>
                <!-- creating form for requesting later check out date, or add services..
                sending mail to hotel with pre filled up input for whom sending 
                using rew.params for pre filled inputs.
                .make drop down list with choices..checkout date, sauna etc
                make username input req.params
                make first last name req.params
                mssg free to fill up
                add services condition..check out date must be longer then current date -->
            </div>
<nav1>
    <form action=""  method="post">
        <button class="logoutbutton"  type="submit"  name="username" value="true">Logout </button>
        <!-- <button class="logoutbutton"><a href="/"  >Logout</a></button> -->
    </form>
        <!-- <div id="indicator"></div> -->
  </nav1>
  <script>
    const value = ()=>{
        const temp = window.location.href.slice(window.location.href.lastIndexOf("/"))
        console.log(temp);
        return temp
    }
    const url = ()=>{
        const form =  document.getElementsByTagName("form")[0]
        const temp = "/guest" + window.location.href.slice(window.location.href.lastIndexOf("/"))
        form.action = temp
        console.log(temp);
    }
    url()
    value()
        </script>
        
</body>

</html>