        <!-- cijena sobe no noci i provjera je li slobondno u js i da zakljuca opciju
            ako je zauzeta, skontat da li
        moze da se kopira dio koda na klik butona ako ima vise gostiju
    problem vise gostiju 
            ako je inactive gost ne moze pristupiti sa sifrom, u js napraviti
            napraiti da ispise sve sobe i ko je u njima u novoj stranici

            racun ici na ispis samo kao i ispis checkout..
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Adis Aljic">
    <title>Imaginery hotel</title>

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/admin_guest.css">
    <link rel="stylesheet" href="../css/admin.css">
    <script src="../js/user_pass.js" defer></script>

</head>

<body>
    <%- include ("./partials/nav.ejs") %>
    <div id="newemployee">

        <h1>New employee information</h1>
        
        <p> Welcome <%= infoAdmin.first_name %> to our hotel</p>
        
        <br>

        <p> First name : <%= infoAdmin.first_name %></p>
        <p> Last name : <%= infoAdmin.last_name %></p>
        <p> Date of birth  : <%= infoAdmin.date_of_birth %></p>
        <p> Gender  : <%= infoAdmin.gender %></p>
        <p> Job title  : <%= infoAdmin.job_title %></p>
        <p>  Username : <%= infoAdmin.username %></p>
        <p> Password  : <%= infoAdmin.password %></p>
        <p> Languages : 
       
            <%= infoAdmin.languages %>
  
    </p>
    </div>


     
    <%- include ("./partials/nav1.ejs") %>

</body>

</html>